@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;700&display=swap');

body {
  background-color: #f3f0f0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  max-width: 1000px;
  background-color: rgb(214, 213, 213);
  height: 800px;
  margin: 0 auto;
  box-shadow: 10px 5px 5px rgb(133, 133, 133);
}

.wrapper {  
  max-width: 100%;
  padding-top: 25px;
  padding-left: 40px;
}

.header-wrapper {
  background-color: rgb(214, 213, 213);
  position: relative;
  padding-bottom: 20px;
  /* margin-top: 0px;
  padding-top: 20px; */
}


.header h1 {
  color: rgb(26, 48, 48);
  text-transform: uppercase;
  padding-bottom: 10px;
  text-align: left;
  border-bottom: 2px solid #6d4e1c;
  margin-bottom: 10px;
  margin-top: 21.44px;
}

.header h2 {
  color: rgb(62, 105, 105);
  text-align: left;
  font-family: Ruda, sans-serif;
}

.contact__info {
  display: block;
  font-family: Ruda, sans-serif;
  color: rgb(255, 255, 255);
  background: #0c1011;
  height: 80px;
}

.header a {
  color: #fff;
}
.avatar_img {
  display: block;
  position: absolute; 
  height: 220px;
  top: 20px;
  right: 10px;
}

.contact {
  display: flex;
  justify-content: left;
  padding: 20px;
  margin-left: 20px;
}

.contact li a {
  text-decoration: none;
  cursor: pointer;
}

.contact li a:hover {
 color:#a56937;
}

.contact li {
  margin-right: 50px;
  list-style-type: none;
}


.main-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: rgb(237, 236, 236);
padding-top: 0;
}

.section-wrapper {
  width: 80%;
  padding-top: 40px;
  padding-right: 40px;
}

.section-wrapper h3 {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 15px;
}

.section-items {
  margin: 20px;
  line-height: 30px;
}
.aside {
  width: 20%;
  background: #ccc;
  position: relative;
  top: -30px;
}
/* 

.wrapper {
  display: flex;
  flex-direction: column;
  color: #404040;
  background: #fffffe;
  margin: 0 auto;
  font-family: georgia;
  max-width: 900px;
  background-color: #eeeeee;
}


header img {
  display: block;
  padding: 5px;
  margin: 5px 5px;
  float: right;
  height: 200px;
}

header ul {
  margin: 0;
  background: #000;
  color: #fff;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  padding-left: 20px;
}

main h3 {
  text-transform: uppercase;
  margin-top: 50px;
}
.section {
  width: 80%;
}
main aside {
  flex: 1;
  background: #ccc;
  padding: 18px;
  margin-top: -26px;
  width: auto;
  padding-left: 25px;
  width: 20%;
}

aside h2 {
  margin-top: 50px;
  color: rgb(26, 48, 48);
}

main div {
  flex: 2;
}

.main__info {
  margin-bottom: 50px;
}

aside ul {
  margin-bottom: 70px;
}

pre {
  line-height: 16px;
  color: #09060e;
  font-size: 16px;
}

p {
  padding-right: 30px;
  text-align: justify;
}

footer {
  background: 	#856041;
  padding: 10px;
  color: #000;
}

.footer {
  text-decoration: none;
  display: flex;
}
footer li {
  margin-right: 50px;
  list-style-type: none;
  font-size: 14px;
}

footer img {
  height: 20px;
}

.time {
  margin-top: 5px;
  color: rgb(26, 25, 25);
}

.footer li a {
  text-decoration: none;
  color: rgb(26, 25, 25);
  margin-left: 10px;
} */


/* @media 900px; */